.layout-left {
  float: left;
  width: 13%;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #ffffff;
}

.layout-left ul {
  overflow-y: scroll;
  height: 866px;
  width: 110%;
}

.layout-left ul li {
  position: relative;
  width: 100%;
  padding-left: 29px;
  color: #333;
  font-size: 14px;
  display: block;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
}

.layout-left ul li.active {
  color: #8c47c2;
}