body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "PingFang SC", Helvetica, "Helvetica Neue", Arial, "Microsoft YaHei", "SimSun", Tahoma, sans-serif;
  font-size: 14px;
  color: #555;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

input::-webkit-input-placeholder {
  font-size: 14px;
  color: #999999;
}

input,
button {
  outline: none;
  border: 0;
  background-color: #ffffff;
  font-family: "PingFang SC", Helvetica, "Helvetica Neue", Arial, "Microsoft YaHei", "SimSun", Tahoma, sans-serif;
}

button {
  cursor: pointer;
}

.clearfix::after {
  display: block;
  content: '';
  clear: both;
  overflow: hidden;
}

a{
  text-decoration: none;
  color: initial;
}